.Track {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(256, 256, 256, 0.8);
}

.Track-action {
  cursor: pointer;
  padding: .5rem;
  font-size: 1.05rem;
  transition: color .25s;
}

.Track-action:hover {
  color: rgba(265, 265, 265, .5);
}

.Track-information {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 95px;
}

.Track-information h3 {
  margin-bottom: .22rem;
}

.Track-information p {
  font-size: .83rem;
  font-weight: 300;
  color: rgba(256, 256, 256, 0.8);
  margin-bottom: .22rem;
}
 .preview {
 color: red !important;
 font-size: 80% !important;
 text-align: center;
 margin:  0 0.4rem 0 0.7rem;
 }

.preview:hover {
  cursor: pointer !important;
}

.preview.no:hover {
  cursor: not-allowed !important;
}

.preview:active {
  font-size: 75%;
}

.popularity {
  margin-right: 0.7rem;
  font-size: 60%;
  text-align: center;
  font-weight: bold;
  border-radius: 3px;
}

.very-popular {
  background-color: green;
  color: orange;
}

.popular {
  background-color: blue;
  color: yellow;
}

.less-popular {
  background-color: orange;
  color: black;
}

.very-unpopular {
  background-color: red;
  color: blue;
}

@media only screen and (max-width: 570px) {
  .Track {
    font-size: 70%;
  }
  .Track-information p {
    font-size: .70rem;
  }
}
